<body style="height: 100%; overflow: auto;">

    <!-- Logo -->
    <div class="registration-logo">

        <div class="creature-image-container">
            <img src="assets/MyPetCreature.png" alt="MyPetCreature" />
        </div>

        <div style="margin-top: 20px;">Make a new friend today!</div>

        <button name="registration-button" [routerLink]="['/registration']" class="registration-button">Register</button>
    </div>

    <!-- Video showcase goes here -->
    <div class="video-container">
        <div class="video-placeholder">
        </div>
        <div class="video-placeholder">
        </div>
    </div>
    
    <div style="margin-top: 80px; margin-left: 85px; font-weight: bold;">Welcome To A New Virtual Pet Experience!</div>
    
    <!-- Game Description -->
    <ul class="game-description">
        <li>
            <div class="description-title">Pick from a variety of pets</div>
            <div class="description-text">Dogs, cats, and more! 12 Free pet slots to do with as you will!</div>
        </li>
        <li>
            <div class="description-title">Share with everyone</div>
            <div class="description-text">Your pets are always shareable with anyone!</div>
        </li>
        <li>
            <div class="description-title">Private Pets</div>
            <div class="description-text">More of a private person? Hide them from everyone and enjoy them yourself!
                </div>
        </li>
        <li>
            <div class="description-title">Take care of your pets</div>
            <div class="description-text">Don’t leave your pets for days. They miss you and get hungry!</div>
        </li>
        <li>
            <div class="description-title">Grow with them</div>
            <div class="description-text">Your pets age with time!</div>
        </li>
        <li>
            <div class="description-title">All for one and one for all!</div>
            <div class="description-text">Owners can take care of your pets while you are away!</div>
        </li>
        
    </ul>
</body>