<div class="registration-container">
    <div class="form-title">Registration</div>
  
    <form class="registration-form" #f="ngForm" (ngSubmit)="register(f)">
      <div class="form-entry">
        <label for="username">Username</label>
        <input
          name="username"
          [(ngModel)]="username"
          id="username"
          type="text"
          placeholder="Username"
          required
          minlength="1"
          maxlength="255"
          pattern="^[a-zA-Z0-9_]+$"
          #usernameInput="ngModel"
        >
        <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="error-message">
          <div *ngIf="usernameInput.errors?.['required']">Username is required.</div>
          <div *ngIf="usernameInput.errors?.['minlength']">Username must be at least 1 character long.</div>
          <div *ngIf="usernameInput.errors?.['maxlength']">Username cannot be more than 255 characters long.</div>
          <div *ngIf="usernameInput.errors?.['pattern']">Username must contain only alphanumeric characters and underscores.</div>
        </div>
      </div>
  
      <div class="form-entry">
        <label for="displayname">Display Name</label>
        <input
          name="displayName"
          [(ngModel)]="displayName"
          id="displayname"
          type="text"
          placeholder="Display Name"
          required
          minlength="1"
          maxlength="255"
          pattern="^[a-zA-Z0-9\s.'\-]+$"
          #displayNameInput="ngModel"
        >
        <div *ngIf="displayNameInput.invalid && (displayNameInput.dirty || displayNameInput.touched)" class="error-message">
          <div *ngIf="displayNameInput.errors?.['required']">Display Name is required.</div>
          <div *ngIf="displayNameInput.errors?.['minlength']">Display Name must be at least 1 character long.</div>
          <div *ngIf="displayNameInput.errors?.['maxlength']">Display Name cannot be more than 255 characters long.</div>
          <div *ngIf="displayNameInput.errors?.['pattern']">Display name contains invalid characters.</div>
        </div>
      </div>
  
      <div class="form-entry">
        <label for="email">Email</label>
        <input
          name="email"
          [(ngModel)]="email"
          id="email"
          type="email"
          placeholder="Email"
          required
          email
          maxlength="255"
          #emailInput="ngModel"
        >
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-message">
          <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
          <div *ngIf="emailInput.errors?.['email']">Please enter a valid email address.</div>
          <div *ngIf="emailInput.errors?.['maxlength']">Email cannot be more than 255 characters long.</div>
        </div>
      </div>
  
      <div class="form-entry">
        <label for="password">Password</label>
        <input
          name="password"
          [(ngModel)]="password"
          id="password"
          type="password"
          placeholder="Password"
          required
          minlength="1"
          maxlength="255"
          #passwordInput="ngModel"
        >
        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error-message">
          <div *ngIf="passwordInput.errors?.['required']">Password is required.</div>
          <div *ngIf="passwordInput.errors?.['minlength']">Password must be at least 1 character long.</div>
          <div *ngIf="passwordInput.errors?.['maxlength']">Password cannot be more than 255 characters long.</div>
        </div>
      </div>
  
      <button type="submit" class="submit-button">Submit</button>
      <button type="submit" class="go-back-button" [routerLink]="['/']">Go Back</button>
    </form>
</div>