<div class="registration-container">
    <div class="form-title">Registration</div>

    <form class="registration-form">
        <div class="form-entry">
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Username" required>
        </div>

        <div class="form-entry">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password" required>
        </div>

        <div class="form-entry">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Email" required>
        </div>

        <button type="submit" class="submit-button">Submit</button>
        <button type="submit" class="go-back-button" [routerLink]="['/']">Go Back</button>
    </form>
</div>