.pet-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.no-pets {
  font-size: 1.2rem;
  color: gray;
  margin-top: 20px;
  text-align: center;
}

.pet-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  text-align: center;
}

.pet-list img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.pet-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pet-card h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-align: left;
}

.pet-card.selected {
  border: 2px solid #007bff;
  background-color: #e8f7ff;
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.pet-card.selected:hover {
  background-color: #d7eaf7;
  transform: scale(1.05);
}

.pet-info {
  margin-bottom: 15px;
}

.pet-info p {
  font-size: 1rem;
  margin: 5px 0;
}

.btn {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: #45a049;
}

.pet-card:hover {
  background-color: #f1f1f1;
  transform: translateY(-5px);
  transition: all 0.3s;
  cursor: pointer;
}

.selected-pet-actions {
  margin-top: 20px; /* Adjust vertical spacing */
  display: flex;
  justify-content: center;
}

.selected-pet-actions .btn {
  margin: 0 10px; /* Adjust horizontal spacing between buttons */
}

.select-new-pet-container {
  margin-top: 20px;
  text-align: center;
}

.select-new-pet-btn {
  background-color: #CAE023;
  color: black;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.select-new-pet-btn:hover {
  background-color: #45a049;
}
