<div class="pet-list-container">
  <h2>My Pets</h2>
  
  <div *ngIf="!myPets || myPets.length === 0" class="no-pets">
    <p>No pets found for the current user.</p>
  </div>

  <div class="pet-list">
    <div *ngFor="let pet of myPets" class="pet-card" (click)="viewPet(pet.petId)">
      <h3>{{ pet.petName }}</h3>
      <img src="../../assets/sprites/pets/{{pet.petType.toLowerCase()}}-open-eyes-sprite.png"/>
    
      <div class="pet-info">
        <p><strong>Affection Level:</strong> {{ pet.petAffectionLevel }}</p>
        <p><strong>Hunger Level:</strong> {{ pet.petHungerLevel }}</p>
      </div>
    </div>
  </div>

  <div class="select-new-pet-container">
    <button class="btn select-new-pet-btn" [routerLink]="['/pet-selection']">Select a New Pet</button>
  </div>
</div>
