<div class="login-container">
    <div class="form-title">Log In</div>

    <form class="login-form" #f="ngForm" (ngSubmit)="login(f)">
        <div class="form-entry">
            <label for="username">Username</label>
            <input name="form-username" [(ngModel)]="username" id="username" type="text" placeholder="Username" required>
        </div>

        <div class="form-entry">
            <label for="password">Password</label>
            <input name="form-password" [(ngModel)]="password" id="password" type="password" placeholder="Password" required>
        </div>

        <button type="submit" class="submit-button">Submit</button>
        <button type="submit" class="go-back-button" [routerLink]="['/']">Go Back</button>
    </form>
</div>